.navigatie-nav li{
   margin-left:20px;
   margin-right:20px;
}

.navigatie-menu{
    position: relative;
    float:right;
    margin:30px 5px;
    padding:8px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    list-style: none;
}

.navigatie-nav > li:not(.active) > a{
    color: #555555;
}

.navigatie-nav > li{
    float:right;
    width:150px;
    padding:0;
    text-align:center;
}

.nav > li > a{
    text-align: center; 
    padding: 10px 0px;
}

.header {
    padding-bottom:5px;
    background-color:#f5f5f5
}